.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.NavBar ul {
    list-style-type: none;
    border: 1px dotted black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.NavBar li {
    padding: 10px;
}
.NavBar a {
    color: blue;
    text-decoration: none;
}
